.App {
  text-align: center;
  background-color: rgb(23, 23, 26);
  height: 100vh;
}

.footer{
  background-image:url("https://cdn.discordapp.com/attachments/963368879927730188/987196469503205426/footer_bg.jpg");
  position:fixed;
  bottom:0;
  width: 100%;
  text-align:left
}
.bold-text{
  font-weight: bold;
}
.page{
  margin-top: 100px;
}
